<ion-header>
  <ion-toolbar>
    <ion-title>Note</ion-title>
    <ion-menu-button menuId="main-menu" slot="start" >
    </ion-menu-button>
    <ion-buttons slot="primary">
      <ion-button routerLink="./new-note">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item  *ngFor="let aff of affiche " [routerLink]="['./', affiche.indexOf(aff)]">
          <ion-label>
               <h2> {{aff.title}}</h2>
                      <h3>{{aff.date}}</h3>
          </ion-label>




        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

































































